<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" (click)="home()" role="button">Acme Bank <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item text-light">
            Already a member? Click<a class="nav-link d-inline" (click)="enterVault()"> here </a>to login.
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="text-center my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
